Last login: Tue Jan  3 21:34:05 on console
ljldeMacBook-Pro:vue ljl$ git pull
Already up-to-date.
ljldeMacBook-Pro:vue ljl$ git push
Username for 'https://github.com': jlliusimon@126.com
Password for 'https://jlliusimon@126.com@github.com': 
Everything up-to-date
ljldeMacBook-Pro:vue ljl$ git push
Everything up-to-date
ljldeMacBook-Pro:vue ljl$ git add 
Nothing specified, nothing added.
Maybe you wanted to say 'git add .'?
ljldeMacBook-Pro:vue ljl$ git add -a
error: unknown switch `a'
usage: git add [<options>] [--] <pathspec>...

    -n, --dry-run         dry run
    -v, --verbose         be verbose

    -i, --interactive     interactive picking
    -p, --patch           select hunks interactively
    -e, --edit            edit current diff and apply
    -f, --force           allow adding otherwise ignored files
    -u, --update          update tracked files
    -N, --intent-to-add   record only the fact that the path will be added later
    -A, --all             add changes from all tracked and untracked files
    --ignore-removal      ignore paths removed in the working tree (same as --no-all)
    --refresh             don't add, only refresh the index
    --ignore-errors       just skip files which cannot be added because of errors
    --ignore-missing      check if - even missing - files are ignored in dry run
    --chmod <(+/-)x>      override the executable bit of the listed files

ljldeMacBook-Pro:vue ljl$ git add -all
error: did you mean `--all` (with two dashes ?)
ljldeMacBook-Pro:vue ljl$ git add --all
ljldeMacBook-Pro:vue ljl$ git commit
error: There was a problem with the editor 'vi'.
Please supply the message using either -m or -F option.
ljldeMacBook-Pro:vue ljl$ git commit -m 'change'
[gh-pages 63fccc3] change
 Committer: ljl <ljl@ljldeMacBook-Pro.local>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly. Run the
following command and follow the instructions in your editor to edit
your configuration file:

    git config --global --edit

After doing this, you may fix the identity used for this commit with:

    git commit --amend --reset-author

 3 files changed, 2 deletions(-)
 create mode 100644 .DS_Store
 create mode 100644 stylesheets/.DS_Store
ljldeMacBook-Pro:vue ljl$ git push
Counting objects: 6, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 1.17 KiB | 0 bytes/s, done.
Total 6 (delta 3), reused 0 (delta 0)
remote: Resolving deltas: 100% (3/3), completed with 2 local objects.
To https://github.com/lin30/vue.git
   93405c6..63fccc3  gh-pages -> gh-pages
ljldeMacBook-Pro:vue ljl$ vm.gitignore
-bash: vm.gitignore: command not found
ljldeMacBook-Pro:vue ljl$ cd..
-bash: cd..: command not found
ljldeMacBook-Pro:vue ljl$ cd..
-bash: cd..: command not found
ljldeMacBook-Pro:vue ljl$ cd ..
ljldeMacBook-Pro:vue-share ljl$ cd ..
ljldeMacBook-Pro:Documents ljl$ cd ..
ljldeMacBook-Pro:~ ljl$ cd list
-bash: cd: list: No such file or directory
ljldeMacBook-Pro:~ ljl$ cd ls
-bash: cd: ls: No such file or directory
ljldeMacBook-Pro:~ ljl$ ls
Desktop		Downloads	Movies		Pictures	node_modules
Documents	Library		Music		Public
ljldeMacBook-Pro:~ ljl$ cd document
-bash: cd: document: No such file or directory
ljldeMacBook-Pro:~ ljl$ cd Documents
ljldeMacBook-Pro:Documents ljl$ l
-bash: l: command not found
ljldeMacBook-Pro:Documents ljl$ ls
ace-master			vue-vuex-starter-kit-next
vue-share			webpack+vue
ljldeMacBook-Pro:Documents ljl$ vm .gitignore
-bash: vm: command not found
ljldeMacBook-Pro:Documents ljl$ vi .gitignore

_Store
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
-- INSERT -- 
